/* Mobile styles */
.burger {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
  gap: 0rem;
  transition: all 0.5s ease-in-out;
  pointer-events: none;
}
.burger-item {
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: auto;
}

.burger:hover {
  gap: 0.5rem;
  transform: scale(1.2);
}

img {
  width: 60%;
}

.burger-item:nth-child(1) {
  z-index: 5;
  transform: translateY(6.5rem);
}
.burger-item:nth-child(2) {
  transform: translateY(5.5rem);
  z-index: 4;
}
.burger-item:nth-child(3) {
  z-index: 3;
  transform: translateY(4rem);
}
.burger-item:nth-child(4) {
  z-index: 2;
  transform: translateY(3rem);
}
.burger-item:nth-child(5) {
  z-index: 1;
  transform: translateY(1rem);
}
.burger-item:nth-child(6) {
  z-index: 0;
}

/* extra small mobile screen styles */
@media (max-width: 250px) {
  .burger-item:nth-child(1) {
    z-index: 5;
    transform: translateY(2.5rem);
  }
  .burger-item:nth-child(2) {
    transform: translateY(2rem);
    z-index: 4;
  }
  .burger-item:nth-child(3) {
    z-index: 3;
    transform: translateY(1.5rem);
  }
  .burger-item:nth-child(4) {
    z-index: 2;
    transform: translateY(1rem);
  }
  .burger-item:nth-child(5) {
    z-index: 1;
    transform: translateY(0.5rem);
  }
  .burger-item:nth-child(6) {
    z-index: 0;
  }
  .burger:hover {
    gap: 0.2rem;
    transform: scale(1.2);
  }
}

/* tablet desktop styles */
@media (min-width: 480px) {
  .burger {
    width: 60%;
  }
}
/* medium desktop styles */
@media (min-width: 768px) {
  .burger {
    width: 40%;
  }
}

/* Large desktop styles */
@media (min-width: 1200px) {
  .burger {
    width: 30%;
  }
}
